<div id="ingredients">
	<fieldset>
		<%= f.label :quantity %>
		<%= f.text_field :quantity %>
		<%= collection_select(:ingredient, :measurement, Measurement.all, :id, :abbreviation) %>
		<%= f.label :food %>
		<%= f.text_field :food %>
	</fieldset>
	<%= link_to_remove_fields "remove", f %>
</div>