<h1>Recipe#show</h1>

Title: <%= @recipe.title %><br/>
Source: <%= @recipe.source %><br/>
Image: <%= @recipe.image %><br/>
Cooktime: <%= @recipe.cooktime %><br/>
Description: <%= @recipe.description %><br/>
<br/>
<h3>Ingredients</h3>
<ul>
<% for ingredient in @recipe.ingredients%>
  <li>
    <%= ingredient.quantity %>
	<%= ingredient.measurement.abbreviation %>
    <%= ingredient.food %>
  </li>
<% end %>
</ul>
<h3>Directions</h3>
<ol>
<% for direction in @recipe.directions %>
  <li>
    <%= direction.instruction %>
  </li>
<% end %>
</ol>
<br/>
<%= link_to "Add another Recipe!", new_recipe_path %>
<%= link_to "Return to Recipe index", recipes_url %>
