<h1>Measurement#index</h1>
<p>Find me in app/views/measurement/index.html.erb</p>


<h1>Listing Measurements</h1>

<div id="measurements">
	<% if !@measurements.empty? %>
		<% @measurements.each do |single_measurement| %>
			<%= single_measurement.measurement %>
			<%= single_measurement.abbreviation %>
			<%= single_measurement.measurement_type %>
			<%= link_to "View", measurement_path(single_measurement)%>
			<%= link_to "Delete", single_measurement, :confirm => 'Are you sure?', :method => :delete %>
			<%= link_to "Edit", edit_measurement_path(single_measurement)%><br/>
		<% end %>
	<% else %>
		I got nothin'
	<% end %>
	<br/>
	<br/>
	<%= link_to "Add new Measurement!", new_measurement_path %>
</div>